In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("ipl.csv")

In [3]:
df.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76014 entries, 0 to 76013
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   mid             76014 non-null  int64
 1   date            76014 non-null  object
 2   venue           76014 non-null  object
 3   bat_team        76014 non-null  object
 4   bowl_team       76014 non-null  object
 5   batsman         76014 non-null  object
 6   bowler          76014 non-null  object
 7   runs            76014 non-null  int64
 8   wickets         76014 non-null  int64
 9   overs           76014 non-null  float64
 10  runs_last_5     76014 non-null  int64
 11  wickets_last_5  76014 non-null  int64
 12  striker         76014 non-null  int64
 13  non-striker     76014 non-null  int64
 14  total           76014 non-null  int64
dtypes: float64(1), int64(8), object(6)
memory usage: 8.7+ MB

In [5]:
df.columns

Index(['mid', 'date', 'venue', 'bat_team', 'bowl_team', 'batsman', 'bowler',
       'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5', 'striker',
       'non-striker', 'total'],
      dtype='object')

In [6]:
df.dtypes

mid                 int64
date               object
venue              object
bat_team           object
bowl_team          object
batsman            object
bowler             object
runs                int64
wickets             int64
overs             float64
runs_last_5         int64
wickets_last_5      int64
striker             int64
non-striker         int64
total               int64
dtype: object

In [7]:
df.describe()

,mid,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
count,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000
mean,308.627740,74.889349,2.415844,9.783068,33.216434,1.120307,24.962283,8.869287,160.901452
std,178.156878,48.823327,2.015207,5.772587,14.914174,1.053343,20.079752,10.795742,29.246231
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,67.000000
25%,154.000000,34.000000,1.000000,4.600000,24.000000,0.000000,10.000000,1.000000,142.000000
50%,308.000000,70.000000,2.000000,9.600000,34.000000,1.000000,20.000000,5.000000,162.000000
75%,463.000000,111.000000,4.000000,14.600000,43.000000,2.000000,35.000000,13.000000,181.000000
max,617.000000,263.000000,10.000000,19.600000,113.000000,7.000000,175.000000,109.000000,263.000000

In [8]:
df.describe

<bound method NDFrame.describe of        mid        date                                      venue  \
0        1  2008-04-18                      M Chinnaswamy Stadium
1        1  2008-04-18                      M Chinnaswamy Stadium
2        1  2008-04-18                      M Chinnaswamy Stadium
3        1  2008-04-18                      M Chinnaswamy Stadium
4        1  2008-04-18                      M Chinnaswamy Stadium
...    ...         ...                                        ...
76009  617  2017-05-21  Rajiv Gandhi International Stadium, Uppal
76010  617  2017-05-21  Rajiv Gandhi International Stadium, Uppal
76011  617  2017-05-21  Rajiv Gandhi International Stadium, Uppal
76012  617  2017-05-21  Rajiv Gandhi International Stadium, Uppal
76013  617  2017-05-21  Rajiv Gandhi International Stadium, Uppal

                    bat_team                    bowl_team      batsman  \
0      Kolkata Knight Riders  Royal Challengers Bangalore   SC Ganguly
1      Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum
2      Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum
3      Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum
4      Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum
...                      ...                          ...          ...
76009         Mumbai Indians       Rising Pune Supergiant    KH Pandya
76010         Mumbai Indians       Rising Pune Supergiant    KH Pandya
76011         Mumbai Indians       Rising Pune Supergiant    KH Pandya
76012         Mumbai Indians       Rising Pune Supergiant   MG Johnson
76013         Mumbai Indians       Rising Pune Supergiant    KH Pandya

             bowler  runs  wickets  overs  runs_last_5  wickets_last_5  \
0           P Kumar     1        0    0.1            1               0
1           P Kumar     1        0    0.2            1               0
2           P Kumar     2        0    0.2            2               0
3           P Kumar     2        0    0.3            2               0
4           P Kumar     2        0    0.4            2               0
...             ...   ...      ...    ...          ...             ...
76009  DT Christian   121        7   19.2           40               0
76010  DT Christian   127        7   19.3           46               0
76011  DT Christian   128        7   19.4           47               0
76012  DT Christian   129        7   19.5           48               0
76013  DT Christian   129        8   19.6           47               1

       striker  non-striker  total
0            0            0    222
1            0            0    222
2            0            0    222
3            0            0    222
4            0            0    222
...        ...          ...    ...
76009       40           12    129
76010       46           12    129
76011       47           12    129
76012       47           13    129
76013       47           13    129

[76014 rows x 15 columns]>

## Data Cleanning

In [9]:
df.isnull()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76009,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
76010,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
76011,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
76012,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
76013,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [10]:
df.isnull().value_counts()

mid    date   venue  bat_team  bowl_team  batsman  bowler  runs   wickets  overs  runs_last_5  wickets_last_5  striker  non-striker  total
False  False  False  False     False      False    False   False  False    False  False        False           False    False        False    76014
Name: count, dtype: int64

In [11]:
df.shape

(76014, 15)

## 1) remove the unwanted columns

In [12]:
df.drop(columns=['mid','venue','batsman','bowler','striker','non-striker'],axis=1,inplace=True)

In [13]:
df.head()

,date,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.1,1,0,222
1,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.2,1,0,222
2,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.2,2,0,222
3,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.3,2,0,222
4,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.4,2,0,222

In [14]:
df['bat_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [15]:
df.index

RangeIndex(start=0, stop=76014, step=1)

## 2) Keep only consistance teams

In [16]:
consistence_team= ['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals','Mumbai Indians','Kings XI Punjab',
                   'Royal Challengers Bangalore', 'Delhi Daredevils','Sunrisers Hyderabad']

In [17]:
df=df[(df['bat_team'].isin(consistence_team))&(df['bowl_team'].isin(consistence_team))]

In [18]:
df['bat_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Kings XI Punjab', 'Royal Challengers Bangalore',
       'Delhi Daredevils', 'Sunrisers Hyderabad'], dtype=object)

In [19]:
df.head()

,date,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.1,1,0,222
1,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.2,1,0,222
2,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.2,2,0,222
3,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.3,2,0,222
4,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.4,2,0,222

## 3) Removing first 5 over Data from all matches

In [20]:
df=df[df['overs']>=5.0]

In [21]:
df.head()

,date,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
32,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,0,5.1,59,0,222
33,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.2,59,1,222
34,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.3,59,1,222
35,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.4,59,1,222
36,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.5,58,1,222

## 4) convert string into Datetime

In [22]:
from datetime import datetime

df['date'] = df['date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

In [23]:
df.head()

,date,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
32,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,0,5.1,59,0,222
33,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.2,59,1,222
34,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.3,59,1,222
35,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.4,59,1,222
36,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.5,58,1,222

## Data Preprocessing

Handling categorical features<br/> Splitting dataset into train and test set on the basis of daa  </br>e

In [24]:
# we will convert cetegorical feature using OnehotEncoder
encoding_df=pd.get_dummies(data=df,columns=['bat_team','bowl_team'])

In [25]:
encoding_df.columns

Index(['date', 'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5',
       'total', 'bat_team_Chennai Super Kings', 'bat_team_Delhi Daredevils',
       'bat_team_Kings XI Punjab', 'bat_team_Kolkata Knight Riders',
       'bat_team_Mumbai Indians', 'bat_team_Rajasthan Royals',
       'bat_team_Royal Challengers Bangalore', 'bat_team_Sunrisers Hyderabad',
       'bowl_team_Chennai Super Kings', 'bowl_team_Delhi Daredevils',
       'bowl_team_Kings XI Punjab', 'bowl_team_Kolkata Knight Riders',
       'bowl_team_Mumbai Indians', 'bowl_team_Rajasthan Royals',
       'bowl_team_Royal Challengers Bangalore',
       'bowl_team_Sunrisers Hyderabad'],
      dtype='object')

In [26]:
encoding_df.head()

,date,runs,wickets,overs,runs_last_5,wickets_last_5,total,bat_team_Chennai Super Kings,bat_team_Delhi Daredevils,bat_team_Kings XI Punjab,...,bat_team_Royal Challengers Bangalore,bat_team_Sunrisers Hyderabad,bowl_team_Chennai Super Kings,bowl_team_Delhi Daredevils,bowl_team_Kings XI Punjab,bowl_team_Kolkata Knight Riders,bowl_team_Mumbai Indians,bowl_team_Rajasthan Royals,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad
32,2008-04-18,61,0,5.1,59,0,222,False,False,False,...,False,False,False,False,False,False,False,False,True,False
33,2008-04-18,61,1,5.2,59,1,222,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34,2008-04-18,61,1,5.3,59,1,222,False,False,False,...,False,False,False,False,False,False,False,False,True,False
35,2008-04-18,61,1,5.4,59,1,222,False,False,False,...,False,False,False,False,False,False,False,False,True,False
36,2008-04-18,61,1,5.5,58,1,222,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [27]:
# Rearranging the columns
encoding_df = encoding_df[['date','bat_team_Royal Challengers Bangalore', 'bat_team_Chennai Super Kings', 'bat_team_Delhi Daredevils', 'bat_team_Kings XI Punjab',
              'bat_team_Kolkata Knight Riders', 'bat_team_Mumbai Indians', 'bat_team_Rajasthan Royals',
              'bat_team_Sunrisers Hyderabad','bowl_team_Chennai Super Kings', 'bowl_team_Delhi Daredevils', 'bowl_team_Kings XI Punjab',
              'bowl_team_Kolkata Knight Riders', 'bowl_team_Mumbai Indians', 'bowl_team_Rajasthan Royals',
              'bowl_team_Royal Challengers Bangalore', 'bowl_team_Sunrisers Hyderabad',
              'overs', 'runs', 'wickets', 'runs_last_5', 'wickets_last_5', 'total']]

In [28]:
encoding_df.head()

,date,bat_team_Royal Challengers Bangalore,bat_team_Chennai Super Kings,bat_team_Delhi Daredevils,bat_team_Kings XI Punjab,bat_team_Kolkata Knight Riders,bat_team_Mumbai Indians,bat_team_Rajasthan Royals,bat_team_Sunrisers Hyderabad,bowl_team_Chennai Super Kings,...,bowl_team_Mumbai Indians,bowl_team_Rajasthan Royals,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad,overs,runs,wickets,runs_last_5,wickets_last_5,total
32,2008-04-18,False,False,False,False,True,False,False,False,False,...,False,False,True,False,5.1,61,0,59,0,222
33,2008-04-18,False,False,False,False,True,False,False,False,False,...,False,False,True,False,5.2,61,1,59,1,222
34,2008-04-18,False,False,False,False,True,False,False,False,False,...,False,False,True,False,5.3,61,1,59,1,222
35,2008-04-18,False,False,False,False,True,False,False,False,False,...,False,False,True,False,5.4,61,1,59,1,222
36,2008-04-18,False,False,False,False,True,False,False,False,False,...,False,False,True,False,5.5,61,1,58,1,222

## Splitting the Dataset 

• Model *trained on* the data from **IPL Seasons 1 to 9** ie: (2008 to 2016)<br/>
• Model *tested on* data from **IPL Season 10** ie: (2017)<br/>
• Model *predicts on* data from **IPL Seasons 11 to 12** ie: (2018 to 2019)

In [29]:
x_train=encoding_df.drop(labels='total',axis=1)[encoding_df['date'].dt.year<=2016]
x_test=encoding_df.drop(labels='total',axis=1)[encoding_df['date'].dt.year>=2017]

y_train=encoding_df[encoding_df['date'].dt.year<=2016]['total'].values
y_test=encoding_df[encoding_df['date'].dt.year>=2017]['total'].values

x_train.drop(labels='date',axis=1,inplace=True)
x_test.drop(labels='date',axis=1,inplace=True)

In [30]:
df['total'].values

array([222, 222, 222, ..., 107, 107, 107], dtype=int64)

In [31]:
x_train.head()

,bat_team_Royal Challengers Bangalore,bat_team_Chennai Super Kings,bat_team_Delhi Daredevils,bat_team_Kings XI Punjab,bat_team_Kolkata Knight Riders,bat_team_Mumbai Indians,bat_team_Rajasthan Royals,bat_team_Sunrisers Hyderabad,bowl_team_Chennai Super Kings,bowl_team_Delhi Daredevils,...,bowl_team_Kolkata Knight Riders,bowl_team_Mumbai Indians,bowl_team_Rajasthan Royals,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad,overs,runs,wickets,runs_last_5,wickets_last_5
32,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,False,5.1,61,0,59,0
33,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,False,5.2,61,1,59,1
34,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,False,5.3,61,1,59,1
35,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,False,5.4,61,1,59,1
36,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,False,5.5,61,1,58,1

In [32]:
x_test.head()

,bat_team_Royal Challengers Bangalore,bat_team_Chennai Super Kings,bat_team_Delhi Daredevils,bat_team_Kings XI Punjab,bat_team_Kolkata Knight Riders,bat_team_Mumbai Indians,bat_team_Rajasthan Royals,bat_team_Sunrisers Hyderabad,bowl_team_Chennai Super Kings,bowl_team_Delhi Daredevils,...,bowl_team_Kolkata Knight Riders,bowl_team_Mumbai Indians,bowl_team_Rajasthan Royals,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad,overs,runs,wickets,runs_last_5,wickets_last_5
68894,False,False,False,False,False,False,False,True,False,False,...,False,False,False,True,False,5.1,46,1,42,1
68895,False,False,False,False,False,False,False,True,False,False,...,False,False,False,True,False,5.2,50,1,46,1
68896,False,False,False,False,False,False,False,True,False,False,...,False,False,False,True,False,5.3,50,1,44,1
68897,False,False,False,False,False,False,False,True,False,False,...,False,False,False,True,False,5.4,54,1,48,1
68898,False,False,False,False,False,False,False,True,False,False,...,False,False,False,True,False,5.5,58,1,51,1

In [33]:
y_train

array([222, 222, 222, ..., 208, 208, 208], dtype=int64)

In [34]:
y_test

array([207, 207, 207, ..., 107, 107, 107], dtype=int64)

## Model Selection

**Liner Regression**

In [35]:
from sklearn.linear_model import LinearRegression

In [36]:
lr= LinearRegression()

In [37]:
lr.fit(x_train,y_train)

LinearRegression()

In [38]:
model_1_result=lr.score(x_test,y_test)
print(" an Accuracy Score = ",model_1_result)

 an Accuracy Score =  0.7524098248405866

**Decision Tree**

In [39]:
from sklearn.tree import DecisionTreeRegressor

In [40]:
dt=DecisionTreeRegressor()

In [41]:
dt.fit(x_train,y_train)

DecisionTreeRegressor()

In [42]:
model_2_result=dt.score(x_test,y_test)
print(" an Accuracy Score = ",model_2_result)

 an Accuracy Score =  0.4808469633398812

**Random Forest**

In [43]:
from sklearn.ensemble import RandomForestRegressor

In [44]:
rf=RandomForestRegressor()

In [45]:
rf.fit(x_train,y_train)

RandomForestRegressor()

In [46]:
model_3_result=rf.score(x_test,y_test)
print(" an Accuracy Score = ",model_3_result)

 an Accuracy Score =  0.6794442968119669

**SVM**

In [47]:
from sklearn.svm import SVC

In [48]:
S=SVC()

In [49]:
S.fit(x_train,y_train)

SVC()

In [50]:
model_4_result=S.score(x_test,y_test)
print(" an Accuracy Score = ",model_4_result)

 an Accuracy Score =  0.0

**Logistic Regresion**

In [51]:
from sklearn.linear_model import LogisticRegression

In [52]:
lor=LogisticRegression()

In [53]:
lor.fit(x_train,y_train)

C:\Users\Niraj\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [54]:
model_5_result=lor.score(x_test,y_test)
print(" an Accuracy Score = ",model_5_result)

 an Accuracy Score =  0.0017998560115190785

## Check the Accuracy of the Model

In [55]:
from sklearn.metrics import accuracy_score,r2_score,mean_absolute_error,mean_squared_error

In [56]:
y1=lr.predict(x_test)
mse=mean_squared_error(y_test,y1)
mae=mean_absolute_error(y_test,y1)
rmse=np.sqrt(mse)
print('an mean absolure error is :',mae)
print('an mean squared error is :',mse)
print(" An Root mean squared error :",rmse)

an mean absolure error is : 12.119205483092603
an mean squared error is : 250.85952083484315
 An Root mean squared error : 15.838545414110575

In [57]:
y2=dt.predict(x_test)
ya2=accuracy_score(y_test,y2)
print(" An accuracy of this model using Decision Tree :",ya2)

 An accuracy of this model using Decision Tree : 0.020158387329013677

In [58]:
y3=rf.predict(x_test)
mse=mean_squared_error(y_test,y3)
mae=mean_absolute_error(y_test,y3)
rmse=np.sqrt(mse)
r_2=r2_score(y_test,y3)
print('an mean absolure error is :',mae)
print('an mean squared error is :',mse)
print(" An Root mean squared error :",rmse)
print("an R2_score is: ",r_2)

an mean absolure error is : 13.637865970722343
an mean squared error is : 324.78853432229505
 An Root mean squared error : 18.02189042032758
an R2_score is:  0.6794442968119669

In [59]:
y4=S.predict(x_test)
ya4=accuracy_score(y_test,y4)
print(" An accuracy of this model using SVM :",ya4)

 An accuracy of this model using SVM : 0.0

In [60]:
y5=lor.predict(x_test)
ya5=accuracy_score(y_test,y5)
print(" An accuracy of this model using Logistic Regression :",ya5)

 An accuracy of this model using Logistic Regression : 0.0017998560115190785